       <!-- Header -->
       <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>Gateway "{{gatewayData.gateway_name}}" Detail</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Basic -->
    <div class="ex-basic-1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-fluid mt-5 mb-3" src="assets/images/article-details-large.jpg" alt="alternative">
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->

       <!-- Basic -->
       <div class="ex-basic-1 pt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="text-box">
                        <p>Gateway</p>
                        <h3>{{gatewayData.gateway_name}}</h3>
                    </div> <!-- end of text-box -->                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->

       <!-- Basic -->
       <div class="ex-basic-1 pt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="text-box">
                        <p>IP Address</p>
                        <h3>{{gatewayData.IPV4_address}}</h3>
                    </div> <!-- end of text-box -->                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->

       <!-- Basic -->
       <div class="ex-basic-1 pt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="text-box">
                        <p>Serial Number</p>
                        <h3>{{gatewayData.serialNumber}}</h3>
                    </div> <!-- end of text-box -->                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->


    <!-- Basic -->
    <div class="ex-basic-1 pt-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="text-box">
                        <h3>Devices</h3>
                    </div> <!-- end of text-box -->                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->


    <!-- Cards -->
    <div class="ex-cards-1 pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="row">
                        <div class="col-sm-4" *ngFor="let device of gatewayData.peripheral_devices; let i = index">
                            <!-- Card -->
                            <div class="card">
                                <ul class="list-unstyled">
                                    <li class="d-flex">
                                        <span class="fa-stack me-3">
                                            <span class="fas fa-circle fa-stack-2x"></span>
                                            <span class="fa-stack-1x">{{i+1}}</span>
                                        </span>
                                        <div class="flex-grow-1">
                                            <h5 class="pt-2 mb-4"><span>Vendor : </span>{{device.vendor}}</h5>
                                            <p><span>UID : </span>{{device.uid}}</p>
                                            <p><span>Status : </span>{{device.status}}</p>
                                            <p><span>Creation Date : </span>{{device.date_created | date :'longDate'}}</p>
        
                                        </div>
                                    </li>
                                </ul>
                            </div> <!-- end of card -->
                            <!-- end of card -->
                        </div>
                    </div>

                </div> <!-- end of col -->   
            </div> <!-- end of row -->   
        </div> <!-- end of container -->   
    </div> <!-- end of ex-cards-1 -->
    <!-- end of cards -->
