
        <!-- Navigation -->
        <nav id="navbarExample" class="navbar navbar-expand-lg fixed-top navbar-light" aria-label="Main navigation">
            <div class="container">

                <!-- Image Logo -->
                <!-- <a class="navbar-brand logo-image" href="index.html"><img src="assets/images/logo.svg" alt="alternative"></a>  -->

                <!-- Text Logo - Use this if you don't have a graphic logo -->
                <a class="navbar-brand logo-text" [routerLink]="['/']">Gateways</a>

                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                    <ul class="navbar-nav ms-auto navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/']" routerLinkActive="router-link-active" >Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" [routerLink]="['/all-gateways']" routerLinkActive="router-link-active">Manage Gateways</a>
                        </li>
                    </ul>
                    <span class="nav-item">
                        <a class="btn-outline-sm" [routerLink]="['/create-gateway']" routerLinkActive="router-link-active">Create Gateways</a>
                    </span>
                </div> <!-- end of navbar-collapse -->
            </div> <!-- end of container -->
        </nav> <!-- end of navbar -->
        <!-- end of navigation -->